body{
	background-color: black;
}
video{
display: table; 
margin-top: auto;
margin-bottom: auto;
margin-left: auto; 
margin-right: auto;
}
img{
	display: table; 
	margin-left: auto; 
margin-right: auto;
	width:160px;
	height:90px;
	margin-top: 30px;
}
#h{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
text-align: center;
font-family: serchea;
}
a:link {text-decoration: none; color: #8e6826;}
a:visited {text-decoration: none; color: #8e6826;}
a:active {text-decoration: none; color: #8e6826;}
a:hover {text-decoration: underline; color: #b78734;}
@font-face {
        font-family: serchea;
        src: url("https://drive.google.com/file/d/0B4MCfGpG0EY1QU9FSlY3NGgzaEE/view?usp=sharing.eot");
        src: local('문체부 궁체 정자체'), url("https://drive.google.com/file/d/0B4MCfGpG0EY1ZEJOeGFtck9QbGc/view?usp=sharing.woff") format("woff");
       }
